*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial;
}

.showcase{
    position:relative;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.login-box{
    position: absolute;
    top:50%;
    left: 50%;
    width:400px;
    padding:40px;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
    border-radius: 10px;
}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  body{
      font-family: Arial;
  }
  
  .showcase{
      position:relative;
      height:100vh;
      display: flex;
      flex-direction: column;
      align-items:  center;
      justify-content: center;
      text-align: center;
      padding: 0 20px;
  }
  
  .video-container{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
  }
  
  .login-box{
      position: absolute;
      top:50%;
      left: 50%;
      width:400px;
      padding:40px;
      transform: translate(-50%, -50%);
      background-color: rgba(0,0,0,0.5);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,0.6);
      border-radius: 10px;
  }
  
  .login-box h2{
      margin: 0 0 30px;
      padding: 0;
      color: #03a9f4;
      text-align: center;
  }
  
  .login-box .user-box{
      position: relative;
  }
  
  .login-box .user-box input{
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
  }
  
  .login-box .user-box label{
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: 0.5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label{
      top: -20px;
      left: 0;
      color: #03a9f4;
      font-size: 12px;
  }
  
  .login-box form a{
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      color: #03e9f4;
      font-size: 16px ;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 40px;
      letter-spacing: 4px;
  }
  .login-box form a:hover{
      background-color: #03a9f4;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #03a9f4,
                  0 0 25px #03a9f4,
                  0 0 50px #03a9f4,
                  0 0 100px #03a9f4;
  }
  .btn--login {
    position: relative; 
    top: -15px;
    --b: 3px;  
    --s: .45em; 
    --color: #03a9f4;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn--login:hover,
  .btn--login:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .btn--login:active {
    background: var(--color);
    color: #fff;
  }
  
  .btn--forgotpassword {
    position:absolute;
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
    top: calc(100% - 50px);
  }
  
  .btn--forgotpassword:disabled {
    pointer-events: none;
  }
  
  .btn--forgotpassword:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .btn--forgotpassword:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .btn--register {
      position:absolute;
      appearance: none;
      background-color: transparent;
      border: 2px solid #1A1A1A;
      border-radius: 15px;
      box-sizing: border-box;
      color: #3B3B3B;
      cursor: pointer;
      display: inline-block;
      font-family: Roobert,-apple-syst;
      color: #fff !important; 
      font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 30px;
      min-width: 0;
      outline: none;
      padding: 16px 24px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 50%;
      will-change: transform;
      top: calc(100% - 50px);
      right: calc(100% - 200px);
    }
    
    .btn--register:disabled {
      pointer-events: none;
    }
    
    .btn--register:hover {
      color: #fff;
      background-color: #1A1A1A;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }
    
    .btn--register:active {
      box-shadow: none;
      transform: translateY(0);
    }
    .btn--forgotpassword a,
    .btn--register a ,
    .btn--sub-login a{
      text-decoration: none;
      color: #fff !important; 
    }
    .btn--sub-login {
      position:absolute;
      appearance: none;
      background-color: transparent;
      border: 2px solid #1A1A1A;
      border-radius: 15px;
      box-sizing: border-box;
      color: #3B3B3B;
      cursor: pointer;
      display: inline-block;
      font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 30px;
      min-width: 0;
      outline: none;
      padding: 16px 24px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 50%;
      will-change: transform;
      top: calc(100% - 50px);
      right: calc(100% - 300px);
    }
    
    .btn--sub-login:disabled {
      pointer-events: none;
    }
    
    .btn--sub-login:hover {
      color: #fff;
      background-color: #1A1A1A;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }
    
    .btn--sub-login:active {
      box-shadow: none;
      transform: translateY(0);
    }
    .btn--reset {
      position: relative; 
      left: 35%;
      --b: 3px;  
      --s: .45em; 
      --color: #03a9f4;
      
      padding: calc(.5em + var(--s)) calc(.9em + var(--s));
      color: var(--color);
      --_p: var(--s);
      background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
      transition: .3s linear, color 0s, background-color 0s;
      outline: var(--b) solid #0000;
      outline-offset: .6em;
      font-size: 16px;
      border: 0;
    
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .btn--reset:hover,
    .btn--reset:focus-visible{
      --_p: 0px;
      outline-color: var(--color);
      outline-offset: .05em;
    }
    
    .btn--reset:active {
      background: var(--color);
      color: #fff;
    }
  
  
    color: #03a9f4;
    text-align: center;
}

.login-box .user-box{
    position: relative;
}

.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px ;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}
.login-box form a:hover{
    background-color: #03a9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03a9f4,
                0 0 25px #03a9f4,
                0 0 50px #03a9f4,
                0 0 100px #03a9f4;
}
.btn--login {
  position: relative; 
  top: -15px;
  --b: 3px;  
  --s: .45em; 
  --color: #03a9f4;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn--login:hover,
.btn--login:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.btn--login:active {
  background: var(--color);
  color: #fff;
}

.btn--forgotpassword {
  position:absolute;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
  top: calc(100% - 50px);
}

.btn--forgotpassword:disabled {
  pointer-events: none;
}

.btn--forgotpassword:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn--forgotpassword:active {
  box-shadow: none;
  transform: translateY(0);
}
.btn--register {
    position:absolute;
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-syst;
    color: #fff !important; 
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
    top: calc(100% - 50px);
    right: calc(100% - 200px);
  }
  
  .btn--register:disabled {
    pointer-events: none;
  }
  
  .btn--register:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .btn--register:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .btn--forgotpassword a,
  .btn--register a ,
  .btn--sub-login a{
    text-decoration: none;
    color: #fff !important; 
  }
  .btn--sub-login {
    position:absolute;
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
    top: calc(100% - 50px);
    right: calc(100% - 300px);
  }
  
  .btn--sub-login:disabled {
    pointer-events: none;
  }
  
  .btn--sub-login:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .btn--sub-login:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .btn--reset {
    position: relative; 
    left: 35%;
    --b: 3px;  
    --s: .45em; 
    --color: #03a9f4;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn--reset:hover,
  .btn--reset:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .btn--reset:active {
    background: var(--color);
    color: #fff;
  }

  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}